
p, hr {
    color:#fff !important;
}

.logo-trap {
    width:110px;
    padding:10px;
}

.card-header {
    background-color: #5A5A5A;
}

.height-80 {
    height: 80px;
}

.height-140 {
    height: 140px;
}

.height-380 {
    height: 380px;
}

#circle-orbit-container {
    position: relative;
    height: 400px;
    width: 400px;
}

@media screen and (min-width: 768px) {
    #circle-orbit-container {
        top: 60px;
        left: 50px;
    }
}

#inner-orbit {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

.inner-orbit-cirlces {
    position: absolute;
    top: 62px;
    left: -6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #9F98E6;
}

#middle-orbit {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 225px;
    height: 225px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}

.middle-orbit-cirlces {
    position: absolute;
    top: 25px;
    left: 17px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #4A437F;
}

#outer-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}

.outer-orbit-cirlces {
    position: absolute;
    top: -17px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #fff;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes movimento-tie {
    0% {
        top: 0;
        left: 60%;
        visibility: visible;
    }
    100% {
        top: 100%;
        left: 100%;
        visibility: hidden;
    }
}

@keyframes movimento-millenium {
    0% {
        top: 50%;
        left: 0%;
        visibility: visible;
    }
    100% {
        top: 50%;
        left: 100%;
        visibility: hidden;
    }
}

.tie-image, .millenium-image {
    width:20%;
    z-index:9999;
    position: absolute;
}

.tie-image {
    animation: movimento-tie 4s linear;
    animation-fill-mode: forwards;
}

.millenium-image {
    animation: movimento-millenium 4s linear;
    animation-fill-mode: forwards;
}



